body {
    background-color: rgb(10, 10, 10);
    font-family: Arial, sans-serif;
}

main {
    margin: 2rem;
    padding: 2rem;
    border-radius: 12px;
    background-color: white;
}

form {
    display: grid;
    gap:3rem;
    grid-template:
        "inputs dias"
        "mapa mapa"
        "button button";
    grid-template-columns:1fr 1fr;
    grid-template-rows:6fr 4fr 1fr;
    h4{

    }
}

#inputs{
    grid-area:inputs;
    div,h2{
        margin-top:3rem;
    }
    hr{
        margin-top:1.5rem;
    }
}

#dias{
    grid-area:dias;
}

#map{
    grid-area:mapa;
    width:100%;
}

.sbbtn{
    grid-area:button;
}

