html,body{
  background-color:black;
}

main {
  border: 1px solid black;
  margin: 0;
  padding: 0;
  height: auto;
  overflow: hidden;
  display:flex;
  flex-direction:column;
  align-items:center;
}

.carousel {
  height: 67vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  z-index:0;
  border-bottom:2px solid gray;
}

.carousel-item {
  height: 67vh;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.carousel-indicators button{
  background-color:red !important;
  &.active{
    background-color: darkred !important;
  }
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(25%) sepia(96%) saturate(7470%) hue-rotate(0deg) brightness(73%) contrast(119%);
  &:hover{
      filter: invert(25%) sepia(96%) saturate(7470%) hue-rotate(0deg) brightness(120%) contrast(140%);
  }
}

.maincontent {
  height: auto;
  width: 90vw;
  background-color: rgb(30, 30, 30);
  margin: 2rem;
  border-radius: 12px;
  padding: 3rem;

  .info {
    color: white;
    display:flex;
    flex-direction:column;
    align-items:center;

    h1 {
      font-size: 2rem;
      margin-bottom: 1rem;
      color: #e53935;
    }
    h2 {
      font-size: 1.7rem;
      margin-top: 2rem;
      color: #f44336;
    }
    p {
      font-size: 1rem;
      margin-bottom: 1.5rem;
    }
    .features {
      display: flex;
      justify-content: center;
      margin-bottom:6vh;
      gap: 2rem;
      flex-wrap: wrap;
      margin-top: 2rem;

      .feature-card {
        background-color: #2c2c2c;
        padding: 2rem;
        border-radius: 12px;
        width: 250px;
        text-align: center;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        transition: transform 0.3s ease;

        &:hover {
          transform: translateY(-5px);
        }

        img {
          width: 64px;
          aspect-ratio:3/4;
          margin-bottom: 1rem;
          filter: invert(100%);
        }

        hr {
          height: 2px;
          background: #f44336;
          margin: 1rem 0;
        }

        p {
          font-size: 1rem;
          color: white;
          margin: 0;
        }
      }
    }
    strong {
      color: #ef5350;
    }
  }
}

hr{
  align-self:center;
  width:100%;
  height:1px;
  color:white;
}

.maincontact{
  margin-top:7vh;
  margin-bottom:7vh;
  display:flex;
  flex-direction:row;
}

.map iframe {
    width:50vw;
    height:70vh;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.infohor{
  margin-left:5vw;
  margin-right:5vw;
  width:100%;
  height:auto;
  display:flex;
  flex-direction:column;
  h2{
    color:#f44336;
    align-self:center;
  }
}

.table-horarios {
  width: 100%;
  height:100%;
  border-collapse: collapse;
  font-size: 1rem;
  text-align: center;
  background-color:rgb(33,33,33);
  color:white;
}

.table-wrapper {
  border: 2px solid #f44336;
  border-radius: 12px;
  height:70vh;
  overflow: hidden;
  display: inline-block;
    box-shadow: 0 0 40px  rgba(0, 0, 0, 0.5), 0 0 0 3px #d42316;
}


.table-horarios thead {
  background-color: #f44336;
  color: white;
}

.table-horarios th{
  font-size:2rem;
}

.table-horarios th,
.table-horarios td {
  padding: 0.75rem 1rem;
  border-bottom: 1px solid #333;
}

.table-horarios tr:last-child td {
  border-bottom: none;
}

.table-horarios thead th:first-child,
.table-horarios tbody td:first-child {
  width: 30%;
  font-weight: bold;
}

.table-horarios thead th:last-child,
.table-horarios tbody td:last-child {
  width: 70%;
}

.infocards{
  display:flex;
  min-height:100%;
  height:fit-content;
  .infoftrs{
    height:100%;
    width:100%;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
    object-fit:wrap;
  }
  .ftrcard{
    display:flex;
    flex-direction:column;
    align-items:center;
    width:15vw;
    aspect-ratio:1/1;
    border:1px solid black;
    border-radius:12px;
    background-color: #2c2c2c;
    padding: 2rem;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
    &:hover {
      transform: translateY(-5px);
    }
    img{
      width:5vw;
      aspect-ratio:1/1;
      filter:invert(100%);
    }
    hr{
      background-color:#f44336;
      width:100%;
      height:2px;
    }
    p{
      margin:0;
      color:white;
      font-size:1.2rem;
      word-break: break-word;
      overflow-wrap: break-word;
    }
  }
  .spanmoreinfo{
      height:100%;
      width:100%;
      display:flex;
      flex-direction:column;
      align-items:start;
      color:white;
      p{
        margin-left:2vw;
        margin-top:8vh;
        font-size:6vw;
      }
      a{
        margin-left:4vw;
        margin-top:-4vh;
        text-decoration:none;
        font-size:1.4rem;
        color:rgb(255, 45, 45);
        &:hover{
          color:rgb(207, 0, 0)
        }
        li{
          list-style:circle;
        }
      }
    }
  
}


/*Ajustes para versión móvil*/
@media (max-width: 768px) {
  .maincontact {
    flex-direction: column;
    align-items: center;
    gap: 2rem; /* espacio entre mapa y horarios */
  }

  .map iframe {
    width: 90vw;
    height: 40vh;
  }

  .infohor {
    width: 90vw;
    height: auto;
  }

  .table-wrapper {
    height: auto;
    max-height: none;
  }
  
  .infocards {
    flex-direction: column;
    gap: 1rem;
    align-items:start;
  }
  
  .infocards .infoftrs {
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    width: 100%;
  }
  
  .infoftrs .ftrcard {
    width: 30vw;
    max-width: 150px; 
    aspect-ratio:1/1 !important;    
    padding: 1rem;
    box-sizing: border-box;
  }
  
  .infoftrs .ftrcard img {
    width: 40px;
    height: auto;
    margin-bottom: 0.5rem;
  }

  .spanmoreinfo p{
    font-size:3rem !important;
    margin-bottom:2rem;
  }
}
