@font-face {
  font-family: 'BebasNeue';
  src: url('/fonts/Bebas_Neue/BebasNeue-Regular.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DancingScript';
  src: url('/fonts/Dancing_Script/DancingScript-VariableFont_wght.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}

body {
    font-family: "BebasNeue", sans-serif !important;
    min-height:100vh;
    position:relative;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #222;
}

::-webkit-scrollbar-thumb {
  background-color: #ff0000;
  border-radius: 10px;
  border: 3px solid #222;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #cc0000;
}

.header_content {
    background-image: url("/src/bckgrnd1.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    border-bottom: 2px solid rgb(136, 136, 136);
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2vw;
    font-weight: 400;
    font-size: 1.2rem;
    position: relative;
}

.header_content .left .logo {
    height: 14vh;
    width: auto;
    margin-left:2vw;
}

.header_content .right {
    display: flex;
    gap: 4vw;
    margin-right:2vw;
}

.header_content a {
    color: white;
    text-decoration: none;
    position: relative;
    padding-bottom: 4px;
}

.header_content a:hover {
    transition: color 0.3s ease;
    color: red;
}

.header_content a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: red;
    transition: width 0.3s ease, left 0.3s ease;
}

.header_content a:hover::after {
    width: 100%;
    left: 0;
}

.nav{
  height:4vh;
  width:100%;
  background-color:rgb(78, 78, 78);
  border-bottom:2px solid rgb(136, 136, 136);
  display:flex;
  align-items:center;
  a{
    text-decoration:none;
    color:white;
    display:flex;
    align-items:center;
    &:hover{
      color:white;
    }
    img{
        height:20px;
        margin-left:7vw;
        transform:translateY(-2px);
        filter: invert(100%);
        margin-right:0.5vw;
    }
  }
  
}

.mainerror {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.error {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  display: block;
}

.rghtarrw{
  margin-left: 10px;
  margin-right: 10px;
  filter: invert(100%);
}

.car-solucion-highlight {
  color:rgb(194, 0, 0);
  text-shadow: 0 0 10px rgb(119, 0, 0);
  font-weight: bold;
  padding: 0 3px;
  border-radius: 3px;
  display: inline-block;
}

.footer {
  background-color: #000;
  border-top: 2px solid #f54336;
  color: #fff;
  text-align: center;
  padding: 1rem;
}

//Whatsapp API
.whatsappapi {
  position: relative;
  height:0px;
}

.whatsappapi a {
  position: fixed;
  top: 30vh;
  right:5px;
  color: white;
  border: none;
  z-index:2000;
  border-radius: 100%;
  aspect-ratio:1/1;
  cursor: pointer;
  img{
    width:50px;
    height:50px;
  }
}

//Accesibilidad
.accessibility {
  position: relative;
  height:0px;
}

#toggle-accessibility {
  position: fixed;
  top: 20vh;
  right:5px;
  background-color: white;
  color: white;
  border: none;
  z-index:2000;
  border-radius: 100%;
  aspect-ratio:1/1;
  cursor: pointer;
  img{
    width:40px;
    height:40px;
  }
}

#accessibility-options.hidden {
  display: none;
}

#accessibility-options{
  position:fixed;
  z-index:1000;
  display:flex;
  flex-direction:column;
  width:fit-content;
  height:fit-content;
  min-height:10vh;
  min-width:5vw;
  color:white;
  background-color:rgba(0, 0, 0, 0.6);
  padding:1rem;
  border-radius:8px;
  border:2px solid white;
  top:20vh;
  right:5vw;
}

.light-theme {
  header{
    filter:invert(100%);
    .header_content{
      a{
        color:black;
        filter:invert(100%);
        &:hover{
          filter:invert(100%);
          color:red;
        }
      }
      img{
        filter:invert(100%);
      }
    }
  };
  aside{
    filter:invert(100%);
    &::-webkit-scrollbar-thumb {
      filter:invert(100%);
      background-color:#2dffff;
    }
    .button{
      filter:invert(100%);  
    }
    .li{
      filter:invert(100%);
    }
    #porPrecio .double_range_slider,.labelValues{
      filter:invert(100%);
    }
    #listaColor li{
      filter:invert(100%);
    }
  };
  .maincontent{
    filter:invert(100%);
    .publicaciones{
      filter:invert(100%);
      p,.tag,.custom-button, strong{
        filter:invert(100%);
      }
    }
    .info{
      h1,h2,p u,.feature-card hr{
        filter:invert(100%);
      }
    }
    .maincontact{
      .map,.infohor{
        filter:invert(100%);
      }
    }
    .infocards{
      a,.ftrcard hr{
        filter:invert(100%);
      }
    }
    td{
      background-color:rgb(245,245,245);
      color:rgb(10,10,10);
    }
  };
  .footer{
    filter:invert(100%);
    border-top:2px solid #0abdc9;
  };
  .pginfo{
    filter:invert(100%);
    .ftr{
      border-top:2px solid #0abdc9;
      h1{
        text-decoration-color: #0abdc9;
      }
      iframe,img,input,textarea,.ifc{
        filter:invert(100%);
      }
    }
  };
  .pagination{
    filter:invert(100%);
  };
  .content{
    background-color:rgb(163, 163, 163);
  };
  .sendmail button{
    filter:invert(100%);
  }
  .sendmail input, .sendmail textarea{
    background-color:#eeeeee;
    color:#212121;
  }
}

.serif-font *{
  font-family: Georgia, 'Times New Roman', serif !important;
}

.dyslexic-font *{
  font-family: 'OpenDyslexic', Arial, sans-serif !important;
}
